body {
    font-family: 'Oswald';
    font-size: 23px;
    color: black;
    background-color: #FFFFFF;
    line-height: 35px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

#header-cont {
    width: 100%;
    position: fixed;
    top: 0;
}

header {
    height: 125px;
    font-size: 20px;
    background-color: #4c8f96;
    margin: 0 auto;
    cursor: default;
}

header img {
    display: block;
}

header ul {
    text-align: center;
    font-weight: bold;
}

header ul li {
    display: inline;
    padding: 10px 20px;
} 

header ul li a {
    text-decoration: none;
    color: white;
}

header ul li a:hover {
    color: #3C3F41;
}

#content {
    margin: 155px auto;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

#bio {
    overflow: auto;
    margin: 0;
    font-size: 20px;
}

#imgleft {
    float: left;
    margin: 20px;
    margin-top: 52px;
}

#imgright {
    float: right;
    margin-right: 350px;
}

#list {
    display: block;
    float: left;
    margin-left: 235px;
}

#list2 {
    display: block;
    float: right;
    margin-right: 50px;
}

footer {
	background: #4c8f96;
	border-top: 1px solid #9bd9e0;
	margin: 0;
	padding: 0;
}
footer > div {
	margin: 0 auto;
	padding: 30px 0 28px;
	overflow: hidden;
	text-align: center;
	width: 960px;
}
footer div p {
	color: #ededed;
	display: inline-block;
	float: right;
	font-size: 12px;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 27px 0 0;
	text-align: center;
}
.connect {
	background: #387a82;
	float: right;
	height: 18px;
	margin: 0 20px 0 150px;
	padding: 22px 20px;
	overflow: hidden;
	width: 144px;
}
.connect span {
	color: #ededed;
	display: inline-block;
	float: left;
	font-size: 12px;
	height: 19px;
	line-height: 21px;
	margin: 0;
	padding: 0 0 0 39px;
}
.connect a {
	background: url(../Repositorio/img/icons.png) no-repeat;
	display: block;
	float: left;
	height: 20px;
	margin: 0 8px;
	padding: 0;
	text-indent: -99999px;
	width: 20px;
}
.connect #twitter {
	background-position: 0 -32px;
}
.connect #twitter:hover {
	background-position: -25px -32px;
}
.connect #facebook {
	background-position: 0 -57px;
}
.connect #facebook:hover {
	background-position: -25px -57px;
}
.connect #googleplus {
	background-position: 0 -82px;
}
.connect #googleplus:hover {
	background-position: -25px -82px;
}
.connect #pinterest {
	background-position: 0 -107px;
}
.connect #pinterest:hover {
	background-position: -25px -107px;
}